/********************** Skill **********************/

.skill{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--banner-bg3);
  }

  .title{
    color: var(--text-color);
    text-align: center;
  }

  .skill h1 span{
    color: var(--special-color);
  }

  .s-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    filter: drop-shadow(5px 5px 5px var(--font-shadow));
  }

  .skill-content {
    width:100%;
    padding: 3.8rem 4.5rem;
  }
  
  .skill h1{
    font-size: 4rem;
    filter: drop-shadow(5px 5px 5px var(--font-shadow));
  }

  .skill h2{
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 2.5rem;
    color: var(--text-color);
  }

  /********************** Technical Skill **********************/

  .bar{
    font-size: 23px;
  }

  .technical-bars .bar{
    margin: 40px 0;
    min-width: 30rem;
  }

  .technical-bars .bar:first-child{
    margin-top: 0;
  }

  .technical-bars .bar:last-child{
    margin-bottom: 0;
  }

  .technical-bars .bar .info{
    margin-bottom: 5px;
    color: var(--text-color);
  }
  
  .technical-bars .bar .info span{
    font-size: 17px;
    font-weight: 500;
    animation: showtext 0.5s 1s linear forwards; /*9*/
    opacity:0;
  }

  .technical-bars .bar .progress-line{
    position:relative;
    border-radius: 10px;
    width:100%;
    height: 5px;
    background-color: var(--banner-bg2);
    animation: animate 1s cubic-bezier(1,0,0,1) forwards; /*10*/
    transform: scaleX(0);
    transform-origin: left;
  }
  
.technical-bars .bar .progress-line span{
  height: 100%;
  background-color: var(--special-color);
  position: absolute;
  border-radius: 10px;
  animation: animate 1s 1s cubic-bezier(1,0,0,1) forwards; /*10*/
  transform: scaleX(0);
  transform-origin: left;
}

.progress-line.html span{
  width:90%;
}

.progress-line.css span{
  width:70%;
}

.progress-line.javascript span{
  width:50%;
}

.progress-line.php span{
  width:80%;
}

.progress-line.cpp span{
  width:85%;
}

.progress-line.python span{
  width:60%;
}

.progress-line span::after{
  position: absolute;
  padding: 1px 8px;
  background-color: var(--banner-bg3);
  color: var(--text-color);
  font-size: 12px;
  border-radius: 3px;
  top:-28px;
  right:-20px;
  animation: showtext 0.5s 1.5s linear forwards; /*9*/
  opacity:0;
}

.progress-line.html span::after{
  content: '90%';
}

.progress-line.css span::after{
  content: '70%';
}

.progress-line.javascript span::after{
  content: '50%';
}

.progress-line.php span::after{
  content: '80%';
}

.progress-line.cpp span::after{
  content: '85%';
}

.progress-line.python span::after{
  content: '60%';
}

.progress-line span::before{
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: var(--banner-bg2);
  top: -10px;
  right:0;
  animation: showtext 0.5s 1.5s linear forwards; /*9*/
  opacity: 0;
}

/********************** Pro Skill **********************/

.radial-bars{
  width: 100%;
  min-width: 30rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.radial-bars .radial-bar{
  width: 50%;
  height: 170px;
  margin-bottom: 10px;
  position: relative;
}

.radial-bars .radial-bar svg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(-90deg);
  width: 120px;
  height:160px;
}

.radial-bars .radial-bar .progress-bar{
  stroke-width: 10;
  stop-color: var(--banner-bg2);
  fill: transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap: round;
  animation: animate-bar 1s linear forwards; /*11*/
}

.path{
  stroke-width: 10;
  stroke: var(--special-color);
  fill: transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap: round;
}

.path-1{animation: animate-path1 1s 1s linear forwards;} /*12*/
.path-2{animation: animate-path2 1s 1s linear forwards;} /*13*/
.path-3{animation: animate-path3 1s 1s linear forwards;} /*14*/
.path-4{animation: animate-path4 1s 1s linear forwards;} /*15*/

.radial-bar .percentage{
  color: var(--text-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 17px;
  font-weight: 500;
  animation: showtext .5s 1s linear forwards; /*9*/
  opacity: 0;
}

.radial-bar .text{
  color: var(--text-color);
  width: 100%;
  position: absolute;
  text-align: center;
  left: 35%;
  bottom: -5px;
  transform: translateX(-50px);
  font-size: 17px;
  font-weight: 500;
  animation: showtext .5s 1s linear forwards; /*9*/
  opacity: 0;
}

/********************** Animation **********************/

@keyframes animate{ /*10*/
  100%{
    transform: scaleX(1);

  }
}

@keyframes showtext { /*9*/
  100%{
    opacity: 1;
  }
}

@keyframes animate-bar { /*11*/
  100% {
    stroke-dashoffset: -1;
  }
}

@keyframes animate-path1{ /*12*/
  100% {
    stroke-dashoffset: 50;
  }
}

@keyframes animate-path2{ /*13*/
  100% {
    stroke-dashoffset: 100;
  }
}

@keyframes animate-path3{ /*14*/
  100% {
    stroke-dashoffset: 125;
  }
}

@keyframes animate-path4{ /*15*/
  100% {
    stroke-dashoffset: 100;
  }
}

/********************** Mobile View **********************/

@media screen and (max-width: 768px) {
  .s-content {
    flex-direction: column;
  }
}

@media (max-width:768px){
  .skill h2{
    margin-bottom: 3rem;
  }
  .radial-bars{
    min-width: none;
  }
}
