* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "DM Sans", sans-serif;
}
:root {
  --banner-bg: #212121;
  --banner-bg2: #272727;
  --banner-bg3: #383838;
  --image-width: 45vw;
  --position-o: sticky;
  --head-padding: 3rem 5%;
  --special-color: lime;
  --text-color: white;
}
.light-mode {
  --text-color: black;
  --banner-bg: white;
  --banner-bg2: rgb(216, 216, 216);
  --banner-bg3: #ffffffe8;
  --special-color: #fc7100;
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  background-color: #f2f5f7;
}
section{
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.header {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  padding: var(--head-padding);
  background: var(--banner-bg);
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99; /* Ensure the navigation bar appears above other elements */
}
.header.sticky {
  border-bottom: .1rem solid rgba(0, 0, 0, .2);
}
.head-content{
  display: flex;
  align-items: center;
}
.head-content  span{
  color: var(--special-color);
}
.head-content h2{
  display: none;
  font-size: 1.6rem;
  margin: auto 2rem;
  font-weight: 700;
  color: var(--text-color); opacity: 0;
  animation: slidehelement 1s ease forwards;
  animation-delay: calc(.2s * var(--i));
}
h2.hide{
  display: block;
}
.header-image{
  display: none;
  position: relative;
  left: 10px;
  top: 0px;
  width: 4vw;
  transition: .3s;
  opacity: 0;
  animation: slideheadimg 1s ease forwards;
  animation-delay: calc(.2s * var(--i));
}
.header-image.hide{
  display: block;
}
#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display:none;
}
.navbar a {
  font-size: 1.7em;
  margin-left: 4rem;
  font-weight: 600;
  display: inline-block;
  color: var(--text-color);
  font-size: 1.8rem;
  transition: .3s;
  opacity: 0;
  animation: slidemenu 1s ease forwards;
  animation-delay: calc(.2s * var(--i));
}
.navbar a:hover,
.navbar a.active {
  color:var(--special-color);
}

/* home page desgin */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--banner-bg);
}
.home-content  span{
  color: var(--special-color);
}
.inner-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-image {
  display: block;
  position: relative;
  left: 30px;
  top: 0px;
  transition: .3s;
  opacity: 0;
  animation: slidehomeimg 1s ease forwards;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
  width: 45vw;
  animation: floatImg1 4s ease-in-out infinite;
}
.image2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 45vw;
  animation: floatImg2 4s ease-in-out infinite;
}
@keyframes floatImg1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1.4rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes floatImg2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1.4rem);
  }
  100% {
    transform: translateY(0);
  }
}
.home-content{
  margin: auto 8rem;
}
.home-content h1{
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.5;
  color: var(--text-color);
  transition: .3s;
  opacity: 0;
  animation: slidehelement 1s ease forwards;
  animation-delay: .7s;
}

.home-content h3{
  font-size: 3.2rem;
  font-weight: 700;
  color: var(--text-color);
  transition: .3s;
  opacity: 0;
  animation: slidehelement 1s ease forwards;
  animation-delay: .7s;
}
.home-content h4{
  font-size: 3.2rem;
  font-weight: 700;
  color: var(--text-color);
  transition: .3s;
  opacity: 0;
  animation: slidehelement 1s ease forwards;
  animation-delay: .7s;
}

.custom-image.hide{
  display:none;
}
h3.hide{
  display: none;
}
h1.hide{
  display: none;
}
h4.hide{
  display: none;
}

@keyframes slidemenu {
  0%{
    transform: translateY(-100px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slideheadimg {
  0%{
    transform: translate(0,0);
    opacity: 0;
  }
  100%{
    transform: translate(0,0);
    opacity: 1;
  }
}
@keyframes slidehomeimg {
  0%{
    transform: translate(-200px,-200px);
    opacity: 0;
  }
  100%{
    transform: translate(0,0);
    opacity: 1;
  }
}
@keyframes slideimg1 {
  0%{
    transform: translateX(-400px);
    opacity: 0;
  }
  100%{
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slidehelement {
  0%{
    transform: translateX(100px);
    opacity: 0;
  }
  100%{
    transform: translateX(0px);
    opacity: 1;
  }
}
@media (max-width:1200px){
  html {
    font-size: 55%;
  }
}
@media (max-width:991px){
  .header {
    padding: 2rem 2%;
  }
  section {
    padding: 10rem 3% 2rem;
  }
  .skill{
    padding-bottom: 7rem;
  }
  .contact{
    min-height: auto;
  }
  .footer{
    padding: 2rem 3%;
  }
}
@media (max-width:768px){
  #menu-icon {
    display: block;
  }
  .navbar {
    position:absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background-color: var(--banner-bg);
    border-top: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    display: none;

  }
  .navbar.active {
    display: block;
  }
  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }
  .inner-banner {
    flex-direction: column-reverse;
  }
  .home-content h3{
    font-size:2.6rem;
  }
  .home-content h4{
    font-size:2.6rem;
  }
  .home-content h1{
    font-size: 4rem;
  }
  .custom-image {
    width: 70vw;
    margin-top: 4rem;
  }
  
}
